name: CI

on:
  - push
  - pull_request

jobs:
  test:
    name: Node.js ${{ matrix.node-version }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node-version:
          - 24
          - 22
          - 20
        os:
          - ubuntu-latest
          # - macos-latest
          # - windows-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          # cache: npm
      - name: Install Dependencies
        run: npm i --ignore-scripts
      - name: Lint
        run: npm run lint
      - name: Run Tests
        run: npm t

  test-bun:
    name: Bun on ubuntu-latest
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: ">=1.1.0"
      - name: Install Dependencies
        run: bun install
      - name: Run Tests
        run: bun test
